@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div>  Divs on one or two lines do not show the outliner</div>

<div>
  Divs on one or two lines do not show the outliner
</div>

<div>
  Divs on three or more lines
  do not show the outliner
</div>


<div>
</div>
